.header-container {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 0.5em 1rem;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo-container{
    display: flex;
    align-items: flex-end;
    gap: 6;
    text-decoration: none;
    color: black;
    .logo-text-container{
        text-align: left;
        margin-bottom: -5px;
    }
    .logo-boldTxt{
        font-weight: bold;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: -5px;
    }
    .logo-lightTxt{
        font-size: 8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

.navigation-link {
    justify-content: center;
    gap: 32px;
    align-items: center;
    font-size: 15px;
    font-weight: 300;
    color: #0d8ca6
}
.link{
    text-decoration: none;
}

.contact-header {
    a {
        text-decoration: none;
        color: black;
    }
}

