.footer-container {
    background-color: rgba(211, 211, 211, 0.3);
    padding: 20px 0px;
}

.footer-content {
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.vertical-line {
    width: 100%;
    height: 1px;
    background-color: rgba(211, 211, 211, 1);
}

.copyright-container {
    justify-content: space-evenly;
    padding: 10px 0px;
    text-align: center;
}

.footer-description {
    font-size: 11px;
    margin: 1em 3em;
}

.css-1umw9bq-MuiSvgIcon-root {
    color: red;
}

.contactLink {
    text-decoration: none;
    color: black;
}