.footer-container {
    background-color: rgba(211, 211, 211, 0.3);
    padding: 20px 0px;
}

.footer-content {
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.vertical-line {
    width: 100%;
    height: 1px;
    background-color: rgba(211, 211, 211, 1);
}

.copyright-container {
    justify-content: space-evenly;
    padding: 10px 0px;
    text-align: center;
}

.footer-description {
    font-size: 11px;
    margin: 1em 3em;
}

.css-1umw9bq-MuiSvgIcon-root {
    color: red;
}

.contactLink {
    text-decoration: none;
    color: black;
}

.logo-container {
    display: flex;
    align-items: flex-end;
    gap: 6;
    text-decoration: none;
    color: black;

    .logo-text-container {
        text-align: left;
        margin-bottom: -5px;
    }

    .logo-boldTxt {
        font-weight: bold;
        font-size: 18px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: -5px;
    }

    .logo-lightTxt {
        font-size: 8px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}