.contact-us-img img {
    width: 100%;
    height: 300px;
}

.banner-text {
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;

    .banner-text-touch {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, .4);
        color: #fff;
        padding: 7px 20px;
        border-radius: 50px;
        margin-bottom: 10px;
    }
}
.contact-us-card-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -40px;
    position: relative;
    z-index: 5;
    .contact-us-card{
        color: white;
        margin-right: 2em;
        border-radius: 10px;
        padding: 2.5em 2em;
        margin-bottom: 30px;
        margin: 0px 1em 2em 1em;
        text-align: center;
        background: teal;    
        width: 350px;
        place-items: center;
        place-content: center;
        .css-1umw9bq-MuiSvgIcon-root{
            color: white;
        }
    }
    .contactlink{
        text-decoration: none;
        color: white;
    }
}