.teamHeading {
    left: 10px;
    top: 6%;
    font-size: 80px;
    max-width: 60%;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    color: white;
}

.redText {
    color: #ca0303;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.teamBannerContainer{
    position: relative;
    .teamImg img{
        width: 100%;
        height: 400px;
    }
}


@media (max-width: 767px) {
    .teamHeading {
        font-size: 40px;
        top: 50px;
        right: 10px;
    }
}