.developer {
    min-height: 60vh;
    place-content: center;

    .dev-img img {
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }

    .dev-description {
        .desc-wrapper {
            h3 {
                margin-bottom: 3px;
            }

            .dev-text {
                color: #9CA3AF;
                font-size: 14px;
                letter-spacing: 0px;
            }
        }

        .dev-btn-wrapper button {
            padding: 10px 20px;
            transform: skewX(-20deg);
            border: 1px solid #9CA3AF;
        }

        .email-btn:hover {
            background-color: #003B65;
            color: #ffffff;
        }

        .call-btn:hover {
            background-color: #dc143c;
            color: #ffffff;
        }

        .btn-content {
            transform: skewX(20deg);
        }
    }
}